<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>filter</display-name>
  <context-param>
    <param-name>documentParameterName</param-name>
    <param-value>doc</param-value>
  </context-param>
  <filter>
    <display-name>Add default character encoding filter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>web.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <display-name>DocumentFilter</display-name>
    <filter-name>DocumentFilter</filter-name>
    <filter-class>web.DocumentFilter</filter-class>
  </filter>
  <filter>
    <display-name>SwearInsertFilter</display-name>
    <filter-name>SwearInsertFilter</filter-name>
    <filter-class>web.SwearInsertFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SwearInsertFilter</filter-name>
    <url-pattern>/WEB-INF/docs/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>DocumentFilter</filter-name>
    <url-pattern>/WEB-INF/docs/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>web.WelcomeServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DocumentListerServlet</display-name>
    <servlet-name>DocumentListerServlet</servlet-name>
    <servlet-class>web.DocumentListerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocumentListerServlet</servlet-name>
    <url-pattern>/DocumentListerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthenticateServlet</display-name>
    <servlet-name>AuthenticateServlet</servlet-name>
    <servlet-class>web.AuthenticateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticateServlet</servlet-name>
    <url-pattern>/AuthenticateServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>web.ModelListener</listener-class>
  </listener>
  <filter>
    <display-name>TemplateFilter</display-name>
    <filter-name>TemplateFilter</filter-name>
    <filter-class>web.TemplateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TemplateFilter</filter-name>
    <url-pattern>/WEB-INF/templates/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
</web-app>